.stopwatch{
    width: 200px;
    padding: 30px;
    background-color: grey;
}

.stwHour, .stwMinute, .stwSecond{
    color: blue;
    display: inline-block;
}

.stwColon{
    color: blue;
    display: inline-block;
}

.stwStopButton{
    display: none;
}

#newStopwachButton
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}